
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 100 20% 99%;
    --foreground: 0 0% 0%;
    --card: 100 20% 99%;
    --card-foreground: 0 0% 0%;
    --popover: 100 20% 99%;
    --popover-foreground: 0 0% 0%;
    --primary: 210 59% 34%;
    --primary-foreground: 100 20% 99%;
    --secondary: 358 63% 46%;
    --secondary-foreground: 100 20% 99%;
    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 40%;
    --accent: 52 98% 48%;
    --accent-foreground: 0 0% 0%;
    --destructive: 358 63% 46%;
    --destructive-foreground: 100 20% 99%;
    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 210 59% 34%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

.typewriter-text {
  overflow: hidden;
  white-space: pre-wrap;
}

.line-assessment-bg {
  background-color: #020100;
  color: #FDFFFC;
}

.hero-number {
  @apply font-headline text-8xl md:text-[12rem] leading-none opacity-10 select-none;
}
